html {
    height: 100%;
    font-size: 1rem;
}

body {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0px;
    text-align: center;
}

h1{
    padding-top: 2%;
    padding-bottom: 2%;
}

h3{
    padding-bottom: 1%;
}

.left {
    width: 50%;
    float: left;
    box-sizing: border-box;
    
}
.right {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

#inputs{
    padding-left: 2%;
    float: left;
    width: 100%;
}

#results{
    padding-top: 1rem;
    padding-left: 10%;
    width: 60%; 
    float: right;
    text-align: left;
    font-size: 1.2rem;
}

output#output, output#keyWithCD {
    font-size: 1.2rem;
}

#figure{
    width: 100%;
    float: left;
}

.key_button {
    width: 10rem;
    font-size: 1rem;
    margin-bottom: 1%;
}

input, button, output {
    font-size: 1rem;
}

#feedback {
    color: firebrick;
    width: 100%;
}

#demo-values {
    padding-top: 5%;
    padding-left: 2%;
    float: left;
    width: 100%;
}